<h2>hello Adesina</h2>
  <ul>
    <li>Togo</li>
    <li>Benin</li>
    <li>Ghana</li>
  </ul>
 <p> count = {{count}}</p>
 <div>
   <button (click)="onClick($event)"> Click me</button>
  </div>
  <div>
    <input type="text" (input)="onWritting($event)">
    <p> value = {{contain}}</p>
 </div>

 <div>
  <input type="text" (keyup)="onWrittingForSubmit($event)">
  <button (click)="onSubmit()">submit</button>
  <p> submitvalue = {{submitValue}}</p>
</div>

<div>
  <input #myInput type="text">
  <button (click)="containForSubmit = myInput.value">submit</button>
  <p> submitvalue = {{containForSubmit }}</p>
</div>
